---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
---
Language: Cpp
Standard: Cpp11
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 1
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true
SortIncludes: CaseSensitive
---
Language: JavaScript
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
...
